
@font-face {
    font-family: Sintony;
    src: url('../fonts/Sintony-Regular.ttf');
}

@font-face {
    font-family: Sintony;
    font-weight: bold;
    src: url('../fonts/Sintony-Bold.ttf');
}

body {
    padding: 10px !important;
}

table {
    margin: 0;
    font-family: Sintony, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    background-color: #ffffff;
    font-weight: normal;
}

.ng-table {
    border: 1px solid #000;
}

.severity-critical {
  background-color: red;
}

.severity-major {
  background-color: orange;
}

.severity-minor {
        background-color: yellow;
}

.severity-warning {
  background-color: #1E90FF; // dodger-blue
}

.severity-normal {
  background-color: #00CC00;
}

.severity-informational {
  background-color: #00CC00;
}

.severity-debug {
  background-color: #7554BF;
}
