<md-dialog>
  <md-toolbar><div class="md-toolbar-tools"><h2>Alerta</h2><span flex></span>
  <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
  </md-button>
  </div>
  </md-toolbar>
  <md-dialog-content>
  <div><p>Alerta - a monitoring system for the internet and beyond.</p></div>
  <div><p>Copyright &copy; 2015 Nick Satterly.</p></div>
  <div><p>Available under the MIT License.</p></div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
</md-dialog>