
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->

      <table class="table">
        <tr>
          <th>API</th>
          <th>Build</th>
          <th class="hidden-xs">Date</th>
          <th class="hidden-xs">Revision</th>
        </tr>
        <tr>
          <td>{{ manifest.alerta.label }} {{ manifest.alerta.release }}</td>
          <td>{{ manifest.alerta.build }}</td>
          <td class="hidden-xs">{{ manifest.alerta.date }}</td>
          <td class="hidden-xs">{{ manifest.alerta.revision }}</td>
        </tr>
      </table>

      <table class="table">
        <tr>
          <th>Metric</th>
          <th class="hidden-xs">Type</th>
          <th class="hidden-xs">Name</th>
          <th>Value</th>
          <th>Avg. Time</th>
        </tr>
        <tr ng-repeat="metric in metrics">
          <td>{{ metric.title }}</td>
          <td class="hidden-xs">{{ metric.type | capitalize }}</td>
          <td class="hidden-xs">{{ metric.group }}.{{ metric.name }}</td>
          <td>{{ metric.value || metric.count }}</td>
          <td>{{ metric.totalTime / metric.count | number:2 }} ms</td>
        </tr>
      </table>

      <div>
        <table class="table">
          <tr>
            <td><b>Last Update</b></td><td>{{ lastTime | date:longDate }}</td>
            <td><b>Uptime</b></td><td>{{ uptime / 1000 | hms }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
