
<div>
  <button type="button" class="btn btn-default"
          ng-click="openAlert(alert.id)"
          ng-disabled="alert.status == 'open'">Open</button>
  <button type="button" class="btn btn-default"
          ng-click="tagAlert(alert.id, ['foo'])">Tag</button>
  <button type="button" class="btn btn-default" ng-show="tagged(alert,'watch:'+user)"
          ng-click="watchAlert(alert.id, user)">Watch</button>
  <button type="button" class="btn btn-default" ng-show="!tagged(alert,'watch:'+user)"
          ng-click="unwatchAlert(alert.id, user)">Unwatch</button>
  <button type="button" class="btn btn-primary"
          ng-click="ackAlert(alert.id)"
          ng-disabled="alert.status == 'ack'">Ack</button>
  <button type="button" class="btn btn-warning"
          ng-click="closeAlert(alert.id)"
          ng-disabled="alert.status == 'closed'">Close</button>
  <button type="button" class="btn btn-danger"
          ng-click="deleteAlert(alert.id)">Delete</button>
  <button type="button" class="btn btn-success"
          ng-click="back()">Back</button>
</div>

<hr>

<table class="table table-condensed table-striped">
  <tr><td><b>Alert ID</b></td><td>{{ alert.id }}</td></tr>
  <tr><td><b>Last Receive Alert ID</b></td><td>{{ alert.lastReceiveId }}</td></tr>
  <tr><td><b>Create Time</b></td><td>{{ alert.createTime | date:'d/M/yyyy h:mm:ss.sss a' }}</td></tr>
  <tr><td><b>Receive Time</b></td><td>{{ alert.receiveTime | date:'d/M/yyyy h:mm:ss.sss a' }}</td></tr>
  <tr><td><b>Last Receive Time</b></td><td>{{ alert.lastReceiveTime | date:'d/M/yyyy h:mm:ss.sss a' }}</td></tr>
  <tr><td><b>Service</b></td><td>{{ alert.service.join(', ') }}</td></tr>
  <tr><td><b>Environment</b></td><td>{{ alert.environment }}</td></tr>
  <tr><td><b>Resource</b></td><td>{{ alert.resource }}</td></tr>
  <tr><td><b>Event</b></td><td>{{ alert.event }}</td></tr>
  <tr><td><b>Correlate</b></td><td>{{ alert.correlate.join(', ') }}</td></tr>
  <tr><td><b>Group</b></td><td>{{ alert.group }}</td></tr>
  <tr><td><b>Severity</b></td>
    <td>
      <span class="label label-{{ alert.previousSeverity }}">{{ alert.previousSeverity }}</span>&nbsp;->&nbsp;
      <span class="label label-{{ alert.severity }}">{{ alert.severity }}</span>
    </td>
  </tr>
  <tr><td><b>Status</b></td><td><span class="label label-{{ alert.status }}">{{ alert.status }}</span></td></tr>
  <tr><td><b>Value</b></td><td>{{ alert.value }}</td></tr>
  <tr><td><b>Text</b></td><td>{{ alert.text }}</td></tr>
  <tr><td><b>Trend Indication</b></td><td>{{ alert.trendIndication }}</td></tr>
  <tr><td><b>Timeout</b></td><td>{{ alert.timeout }}</td></tr>
  <tr><td><b>Type</b></td><td>{{ alert.type }}</td></tr>
  <tr><td><b>Duplicate Count</b></td><td>{{ alert.duplicateCount }}</td></tr>
  <tr><td><b>Repeat</b></td><td>{{ alert.repeat }}</td></tr>
  <tr><td><b>Origin</b></td><td>{{ alert.origin }}</td></tr>
  <tr><td><b>Tags</b></td>
    <td><span ng-repeat="tag in alert.tags"><span class="label label-primary">{{ tag }}</span> </span></td>
  </tr>
  <tr ng-repeat="(key, value) in alert.attributes"><td><b>{{ key | capitalize }}</b></td><td>{{ value }}</td></tr>
</table>

<label><input type="checkbox" ng-model="raw"> Raw Data</label>
<div class="animate-show" ng-show="raw">
  <pre>{{ alert.rawData }}</pre>
</div>

<label><input type="checkbox" ng-model="json"> JSON-format</label>
<div class="animate-show" ng-show="json">
  <pre>{{ alert | json }}</pre>
</div>

<table class="table table-condensed table-striped">
  <tr>
    <th><b>Alert ID</b></th>
    <th><b>Update Time</b></th>
    <th><b>Change</b></th>
    <th><b>Event</b></th>
    <th><b>Value</b></th>
    <th><b>Text</b></th>
  </tr>
  <tr ng-repeat="history in alert.history | orderBy:'updateTime':true">
    <td>{{ history.id }}</td>
    <td>{{ history.updateTime | date:'d/M/yyyy h:mm:ss.sss a' }}</td>
    <td><span class="label label-{{ history.status || history.severity }}">{{ history.status || history.severity }}</span></td>
    <td>{{ history.event }}</td>
    <td>{{ history.value }}</td>
    <td>{{ history.text }}</td>
  </tr>
</table>