

<div class="container-fluid">

  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <select class="form-control input-sm" ng-model="option" ng-change="setService(option)"
        ng-options="s as s.service group by s.environment for s in services | orderBy:['environment','service']">
          <option value="" ng-model="option" ng-change="setService(null)">Service</option>
        </select>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <input class="form-control input" ng-model="search" size="8" placeholder="Search">
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <select class="form-control input-sm" ng-options="item as item.name for item in show track by item.name" ng-model="status" ng-change="update()"></select>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <button type="button" class="btn btn-primary btn-block" ng-click="refresh()" ng-disabled="autoRefresh">{{ refreshText }}</button>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li ng-class="{active: !environment}"><a data-toggle="tab" ng-click="setEnv(null)">ALL&nbsp;<span class="badge">{{ total || 0 }}</span></a></li>
      <li ng-class="{active: environment == e.environment}" ng-repeat="e in environments"><a data-toggle="tab" ng-click="setEnv(e.environment)">{{ e.environment }}&nbsp;<span class="badge">{{ e.count || 0 }}</span></a></li>
    </ul>
    </div>
  </div> <!-- row -->

  <audio ng-if="play" ng-src="{{ audio.new }}" autoplay></audio>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr ng-init="predicate = [reverseSeverityCode,'lastReceiveTime']">
          <th class="hidden-xs"><a href="" ng-click="predicate = severityCode; reverse=!reverse">Severity&nbsp;<span ng-hide="predicate != severityCode"><span ng-show="!reverse">v</span><span ng-show="reverse">^</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'status'; reverse=!reverse">Status&nbsp;<span ng-hide="predicate != 'status'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; reverse=!reverse">Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="visible-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; reverse=!reverse">Last Receive Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="visible-lg"><a href="" ng-click="predicate = 'duplicateCount'; reverse=!reverse">Dupl.&nbsp;<span ng-hide="predicate != 'duplicateCount'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs" ng-show="isCustomerViews();"><a href="" ng-click="predicate = 'customer'; reverse=!reverse">Customer&nbsp;<span ng-hide="predicate != 'customer'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'environment'; reverse=!reverse">Environment&nbsp;<span ng-hide="predicate != 'environment'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'service'; reverse=!reverse">Service&nbsp;<span ng-hide="predicate != 'service'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th><a href="" ng-click="predicate = 'resource'; reverse=!reverse">Resource&nbsp;<span ng-hide="predicate != 'resource'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th><a href="" ng-click="predicate = 'event'; reverse=!reverse">Event&nbsp;<span ng-hide="predicate != 'event'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'value'; reverse=!reverse">Value&nbsp;<span ng-hide="predicate != 'value'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'text'; reverse=!reverse">Text&nbsp;<span ng-hide="predicate != 'text'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
        </tr>

        <tr ng-repeat="alert in alerts | filter:search | orderBy:predicate:reverse | limitTo:alertLimit"
            ng-style="{ 'color':  colors.severity[alert.severity] == 'black' ? 'white' : colors.text, 'background-color': (bulkAlerts.indexOf(alert.id) > -1) ? colors.highlight : colors.severity[alert.severity] || 'silver' }"
            ng-click="click($event,alert);">
          <td class="hidden-xs no-wrap"><i class="glyphicon glyphicon-{{ alert.trendIndication | arrow }}"></i>&nbsp;<span class="label label-{{ alert.severity }}">{{ alert.severity | capitalize }}</span></td>
          <td class="hidden-xs"><span class="label label-{{ alert.status }}">{{ alert.status | capitalize }}</span></td>
          <td class="hidden-lg">{{ alert.lastReceiveTime | date:shortTime }}</td>
          <td class="visible-lg">{{ alert.lastReceiveTime | date:mediumDate }}</td>
          <td class="visible-lg">{{ alert.duplicateCount }}</td>
          <td class="hidden-xs" ng-show="isCustomerViews();">{{ alert.customer }}</td>
          <td class="hidden-xs">{{ alert.environment }}</td>
          <td class="hidden-xs">{{ alert.service.join(', ') }}</td>
          <td>{{ alert.resource }}</td>
          <td>{{ alert.event }}</td>
          <td class="hidden-xs">{{ alert.value }}</td>
          <td class="hidden-xs"><span ng-bind-html="alert.text"></span></td>
        </tr>
      </table>

      <div ng-show="!alerts">
          <center><img src="img/loading.gif"/></center>
      </div>

      <div ng-show="alerts.length == 0">
          <center>{{ message }}</center>
      </div>

    </div>
  </div> <!-- row -->

  <div class="row" ng-show="alerts">
    <div class="col-md-12">
    <button type="button" class="btn btn-default full-width" ng-click="alertLimit = alertLimit + 20">{{(alerts|filter:search).length | showing:alertLimit }}</button>
  </div>
  </div> <!-- row -->

  <p>

  <div class="row" ng-show="bulkAlerts.length > 0">
    <div class="col-md-12">
    <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-success"
            ng-click="bulkUnackAlert(bulkAlerts)"
            ng-disabled="status.indexOf('open') > -1"><i class="glyphicon glyphicon-arrow-up"></i> Open</button>
    <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-default"
            ng-click="bulkOpenTabAlert(bulkAlerts)"
            ng-disabled="status.indexOf('open') > -1"><i class="glyphicon glyphicon-plus"></i> Open in new Tab</button>
    <!-- button ng-disabled"!hasPermission('write:alerts')" type="button" class="btn btn-default"
            ng-click="bulkTagAlert(alert.id, ['foo'])">Tag</button -->
    <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-default"
            ng-click="bulkWatchAlert(bulkAlerts, user)"
            ng-disabled="!isAuthenticated();"><i class="glyphicon glyphicon-eye-open"></i> Watch</button>
    <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-default"
            ng-click="bulkUnwatchAlert(bulkAlerts, user)"
            ng-disabled="!isAuthenticated();"><i class="glyphicon glyphicon-eye-close"></i> Unwatch</button>
    <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-primary"
            ng-click="bulkAckAlert(bulkAlerts)"
            ng-disabled="status.indexOf('ack') > -1"><i class="glyphicon glyphicon-ok-circle"></i> Ack</button>
    <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-warning"
            ng-click="bulkCloseAlert(bulkAlerts)"
            ng-disabled="status.indexOf('closed') > -1"><i class="glyphicon glyphicon-remove-circle"></i> Close</button>
    <button ng-disabled="!hasPermission('admin:alerts')" type="button" class="btn btn-danger"
            ng-click="bulkDeleteAlert(bulkAlerts)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
  </div>
</div> <!-- container -->
