
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr ng-init="predicate = [reverseSeverityCode,'lastReceiveTime']">
          <th class="hidden-xs"><a href="" ng-click="predicate = severityCode; reverse=!reverse">Severity&nbsp;<span ng-hide="predicate != severityCode"><span ng-show="!reverse">v</span><span ng-show="reverse">^</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'status'; reverse=!reverse">Status&nbsp;<span ng-hide="predicate != 'status'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; reverse=!reverse">Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="visible-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; reverse=!reverse">Last Receive Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="visible-lg"><a href="" ng-click="predicate = 'duplicateCount'; reverse=!reverse">Dupl.&nbsp;<span ng-hide="predicate != 'duplicateCount'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'environment'; reverse=!reverse">Environment&nbsp;<span ng-hide="predicate != 'environment'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'service'; reverse=!reverse">Service&nbsp;<span ng-hide="predicate != 'service'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class=""><a href="" ng-click="predicate = 'resource'; reverse=!reverse">Resource&nbsp;<span ng-hide="predicate != 'resource'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class=""><a href="" ng-click="predicate = 'event'; reverse=!reverse">Event&nbsp;<span ng-hide="predicate != 'event'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'value'; reverse=!reverse">Value&nbsp;<span ng-hide="predicate != 'value'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
          <th class="hidden-xs"><a href="" ng-click="predicate = 'text'; reverse=!reverse">Text&nbsp;<span ng-hide="predicate != 'text'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
        </tr>

        <tr ng-repeat="alert in watches | orderBy:predicate:reverse"
            ng-style="{ 'color':  colors.severity[alert.severity] == 'black' ? 'white' : colors.text, 'background-color': (bulkAlerts.indexOf(alert.id) > -1) ? colors.highlight : colors.severity[alert.severity] || 'silver' }"
            ng-click="click($event,alert);">
          <td class="hidden-xs"><i class="glyphicon glyphicon-{{ alert.trendIndication | arrow }}"></i>&nbsp;<span class="label label-{{ alert.severity }}">{{ alert.severity | capitalize }}</span></td>
          <td class="hidden-xs"><span class="label label-{{ alert.status }}">{{ alert.status | capitalize }}</span></td>
          <td class="hidden-lg">{{ alert.lastReceiveTime | date:shortTime }}</td>
          <td class="visible-lg">{{ alert.lastReceiveTime | date:mediumDate }}</td>
          <td class="visible-lg">{{ alert.duplicateCount }}</td>
          <td class="hidden-xs">{{ alert.environment }}</td>
          <td class="hidden-xs">{{ alert.service.join(', ') }}</td>
          <td class="">{{ alert.resource }}</td>
          <td class="">{{ alert.event }}</td>
          <td class="hidden-xs">{{ alert.value }}</td>
          <td class="hidden-xs">{{ alert.text }}</td>
        </tr>
      </table>

      <div ng-show="!watches">
          <center><img src="img/loading.gif"/></center>
      </div>

      <div ng-show="watches.length == 0">
          <center>You're not watching any alerts.</center>
      </div>

    </div>
  </div> <!-- row -->

  <div class="row" ng-show="alerts">
    <div class="col-md-12">
    <button type="button" class="btn btn-default full-width" ng-click="alertLimit = alertLimit + 20">{{(watches|filter:search).length | showing:alertLimit }}</button>
  </div>
  </div> <!-- row -->

  <p>

  <div class="row" ng-show="bulkAlerts.length > 0">
    <div class="col-md-12">
    <button type="button" class="btn btn-success"
            ng-click="bulkOpenAlert(bulkAlerts)"
            ng-disabled="status.indexOf('open') > -1"><i class="glyphicon glyphicon-arrow-up"></i> Open</button>
    <!-- button type="button" class="btn btn-default"
            ng-click="bulkTagAlert(alert.id, ['foo'])">Tag</button -->
    <button type="button" class="btn btn-default"
            ng-click="bulkWatchAlert(bulkAlerts, user)"
            ng-disabled="!isAuthenticated();"><i class="glyphicon glyphicon-eye-open"></i> Watch</button>
    <button type="button" class="btn btn-default"
            ng-click="bulkUnwatchAlert(bulkAlerts, user)"
            ng-disabled="!isAuthenticated();"><i class="glyphicon glyphicon-eye-close"></i> Unwatch</button>
    <button type="button" class="btn btn-primary"
            ng-click="bulkAckAlert(bulkAlerts)"
            ng-disabled="status.indexOf('ack') > -1"><i class="glyphicon glyphicon-ok-circle"></i> Ack</button>
    <button type="button" class="btn btn-warning"
            ng-click="bulkCloseAlert(bulkAlerts)"
            ng-disabled="status.indexOf('closed') > -1"><i class="glyphicon glyphicon-remove-circle"></i> Close</button>
    <button type="button" class="btn btn-danger"
            ng-click="bulkDeleteAlert(bulkAlerts)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
  </div>
</div> <!-- container -->
