
    <md-tabs md-selected="vm.selectedIndex">
      <md-tab><a ng-click="vm.setEnv(null)">ALL&nbsp;<span class="label">{{ vm.total || 0 }}</span></a></md-tab>
      <md-tab ng-repeat="e in vm.environments"><a ng-click="vm.setEnv(e.environment)">{{ e.environment }}&nbsp;<span class="label">{{ e.count || 0 }}</span></a></md-tab>
    </md-tabs>

            <table class="table">
                <tr ng-init="predicate = [vm.reverseSeverityCode,'lastReceiveTime']">
                    <th class="hidden-xs"><a href="" ng-click="predicate = vm.severityCode; vm.reverse=!vm.reverse">Severity&nbsp;<span ng-hide="predicate != vm.severityCode"><span ng-show="!vm.reverse">v</span><span ng-show="vm.reverse">^</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'status'; vm.reverse=!vm.reverse">Status&nbsp;<span ng-hide="predicate != 'status'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th class="hidden-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; vm.reverse=!vm.reverse">Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th class="visible-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; vm.reverse=!vm.reverse">Last Receive Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th class="visible-lg"><a href="" ng-click="predicate = 'duplicateCount'; vm.reverse=!vm.reverse">Dupl.&nbsp;<span ng-hide="predicate != 'duplicateCount'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'environment'; reverse=!reverse">Environment&nbsp;<span ng-hide="predicate != 'environment'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'service'; vm.reverse=!vm.reverse">Service&nbsp;<span ng-hide="predicate != 'service'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th><a href="" ng-click="predicate = 'resource'; vm.reverse=!vm.reverse">Resource&nbsp;<span ng-hide="predicate != 'resource'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th><a href="" ng-click="predicate = 'event'; vm.reverse=!vm.reverse">Event&nbsp;<span ng-hide="predicate != 'event'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'value'; vm.reverse=!vm.reverse">Value&nbsp;<span ng-hide="predicate != 'value'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'text'; vm.reverse=!vm.reverse">Text&nbsp;<span ng-hide="predicate != 'text'"><span ng-show="!vm.reverse">^</span><span ng-show="vm.reverse">v</span></span></a></th>
                </tr>

                <tr ng-repeat="alert in vm.alerts | filter:nav.search | orderBy:predicate:vm.reverse | limitTo:vm.alertLimit"
                    ng-style="{ 'color':  vm.colors.severity[alert.severity] == 'black' ? 'white' : vm.colors.text, 'background-color': (vm.bulkAlerts.indexOf(alert.id) > -1) ? vm.colors.highlight : vm.colors.severity[alert.severity] }"
                    ng-click="vm.clickAlert($event, alert);">
                    <td class="hidden-xs no-wrap"><i class="glyphicon glyphicon-{{ alert.trendIndication | arrow }}"></i>&nbsp;<span class="label label-{{ alert.severity }}">{{ alert.severity | capitalize }}</span></td>
                    <td class="hidden-xs"><span class="label label-{{ alert.status }}">{{ alert.status | capitalize }}</span></td>
                    <td class="hidden-lg">{{ alert.lastReceiveTime | date:'HH:mm' }}</td>
                    <td class="visible-lg">{{ alert.lastReceiveTime | date:'EEE&nbsp;d&nbsp;MMM&nbsp;HH:mm' }}</td>
                    <td class="visible-lg">{{ alert.duplicateCount }}</td>
                    <td class="hidden-xs">{{ alert.environment }}</td>
                    <td class="hidden-xs">{{ alert.service.join(', ') }}</td>
                    <td>{{ alert.resource }}</td>
                    <td>{{ alert.event }}</td>
                    <td class="hidden-xs">{{ alert.value }}</td>
                    <td class="hidden-xs"><span ng-bind-html="alert.text"></span></td>
                </tr>
            </table>

        <div layout="row" layout-sm="column" layout-align="space-around" layout-margin style="padding:25px;" ng-hide="vm.alerts.length > 0">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-show="vm.alerts.length == 0">
            <center>{{ vm.message }}</center>
        </div>


        <section layout="row" layout-sm="column" layout-align="center center">
            <md-button type="button" class="btn btn-default full-width" ng-click="vm.alertLimit = vm.alertLimit + 20">{{(vm.alerts|filter:nav.search).length | showing:vm.alertLimit }}</md-button>
        </section>

      <md-fab-speed-dial class="md-fab md-fab-bottom-right" md-direction="left">
        <md-fab-trigger>
          <md-button aria-label="fab" class="md-fab md-warn">
            <md-icon md-svg-icon="menu"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Delete" class="md-fab md-mini">
            <md-tooltip md-direction="top">Delete</md-tooltip>
            <md-icon md-svg-icon="delete" ng-click="vm.bulkDeleteAlert(vm.bulkAlerts);"></md-icon>
          </md-button>
          <md-button aria-label="Close" class="md-fab md-mini">
            <md-tooltip md-direction="top">Close</md-tooltip>
            <md-icon md-svg-icon="close" ng-click="vm.bulkCloseAlert(vm.bulkAlerts);"></md-icon>
          </md-button>
          <md-button aria-label="Ack" class="md-fab md-mini">
            <md-tooltip md-direction="top">Acknowledge</md-tooltip>
            <md-icon md-svg-icon="check" ng-click="vm.bulkAckAlert(vm.bulkAlerts);"></md-icon>
          </md-button>
          <md-button aria-label="Unwatch" class="md-fab md-mini">
            <md-tooltip md-direction="top">Unwatch</md-tooltip>
            <md-icon md-svg-icon="invisible" ng-click="vm.bulkUnwatchAlert(vm.bulkAlerts, 'foo');"></md-icon>
          </md-button>
          <md-button aria-label="Watch" class="md-fab md-mini">
            <md-tooltip md-direction="top">Watch</md-tooltip>
            <md-icon md-svg-icon="visible" ng-click="vm.bulkWatchAlert(vm.bulkAlerts, 'foo');"></md-icon>
          </md-button>
          <md-button aria-label="Open" class="md-fab md-primary md-mini">
            <md-tooltip md-direction="top">Open</md-tooltip>
            <md-icon md-svg-icon="undo" ng-click="vm.bulkOpenAlert(vm.bulkAlerts);"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{ vm.selected.id }}</h1>
    </md-toolbar>

    <md-content flex id="content">
        <img ng-src="{{ vm.selected.data.rawUrl }}" err-src="img/icons/ic_photo_camera_24px.svg" class="original-image">

        <md-button class="md-fab">
            <md-icon md-svg-icon="thumb_up" ng-click="approve(selected.data.id)" aria-label="Thumbs Up"></md-icon>
        </md-button>
        <md-button class="md-fab">
            <md-icon md-svg-icon="thumb_down" ng-click="reject(selected.data.id)" aria-label="Thumbs Down"></md-icon>
        </md-button>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Info</md-subheader>
        <md-list>
            <md-list-item><p><b>Alert ID</b></p><p>{{ vm.selected.id }}</p></md-list-item>
            <md-list-item><p><b>Last Receive Alert ID</b></p><p>{{ vm.selected.lastReceiveId }}</p></md-list-item>
            <md-list-item><p><b>Create Time</b></p><p>{{ vm.selected.createTime | date:'d/M/yyyy h:mm:ss.sss a' }}</p></md-list-item>
            <md-list-item><p><b>Receive Time</b></p><p>{{ vm.selected.receiveTime | date:'d/M/yyyy h:mm:ss.sss a' }}</p></md-list-item>
            <md-list-item><p><b>Last Receive Time</b></p><p>{{ vm.selected.lastReceiveTime | date:'d/M/yyyy h:mm:ss.sss a' }}</p></md-list-item>
            <md-list-item><p><b>Service</b></p><p>{{ vm.selected.service.join(', ') }}</p></md-list-item>
            <md-list-item><p><b>Environment</b></p><p>{{ vm.selected.environment }}</p></md-list-item>
            <md-list-item><p><b>Resource</b></p><p>{{ vm.selected.resource }}</p></md-list-item>
            <md-list-item><p><b>Event</b></p><p>{{ vm.selected.event }}</p></md-list-item>
            <md-list-item><p><b>Correlate</b></p><p>{{ vm.selected.correlate.join(', ') }}</p></md-list-item>
            <md-list-item><p><b>Group</b></p><p>{{ vm.selected.group }}</p></md-list-item>
            <md-list-item><p><b>Severity</b></p><p>{{ vm.selected.severity }}</p></md-list-item>
            <md-list-item><p><b>Status</b></p><p>{{ vm.selected.status }}</p></md-list-item>
            <md-list-item><p><b>Value</b></p><p>{{ vm.selected.value }}</p></md-list-item>
            <md-list-item><p><b>Text</b></p><p>{{ vm.selected.text | linky:'_blank' }}</p></md-list-item>
            <md-list-item><p><b>Trend Indication</b></p><p>{{ vm.selected.trendIndication }}</p></md-list-item>
            <md-list-item><p><b>Timeout</b></p><p>{{ vm.selected.timeout }}</p></md-list-item>
            <md-list-item><p><b>Type</b></p><p>{{ vm.selected.type }}</p></md-list-item>
            <md-list-item><p><b>Duplicate Count</b></p><p>{{ vm.selected.duplicateCount }}</p></md-list-item>
            <md-list-item><p><b>Repeat</b></p><p>{{ vm.selected.repeat }}</p></md-list-item>
            <md-list-item><p><b>Origin</b></p><p>{{ vm.selected.origin }}</p></md-list-item>
            <md-list-item><p><b>Tags</b></p><p ng-repeat="tag in vm.selected.tags">{{ tag }}</p></md-list-item>
            <md-list-item ng-repeat="(key, value) in vm.selected.attributes"><p><b>{{ key | capitalize }}</b></p><p>{{ value }}</p></md-list-item>
        </md-list>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Who can access</md-subheader>
        <div ng-show="selected.data.isActive">
            <md-icon md-svg-icon="lock_open"></md-icon> Publicly accessible
        </div>
        <div ng-hide="selected.data.isActive">
            <md-icon md-svg-icon="lock"></md-icon> Private access only
        </div>

        <p>

    </md-content>
</md-sidenav>
