
<md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height>
    <md-tab ng-repeat="e in environments"
            ng-disabled="e.disabled"
            label="{{ e.environment }}">

            <table class="table">
                <tr ng-init="predicate = [reverseSeverityCode,'lastReceiveTime']">
                    <th class="hidden-xs"><a href="" ng-click="predicate = severityCode; reverse=!reverse">Severity&nbsp;<span ng-hide="predicate != severityCode"><span ng-show="!reverse">v</span><span ng-show="reverse">^</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'status'; reverse=!reverse">Status&nbsp;<span ng-hide="predicate != 'status'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="hidden-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; reverse=!reverse">Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="visible-lg"><a href="" ng-click="predicate = 'lastReceiveTime'; reverse=!reverse">Last Receive Time&nbsp;<span ng-hide="predicate != 'lastReceiveTime'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="visible-lg"><a href="" ng-click="predicate = 'duplicateCount'; reverse=!reverse">Dupl.&nbsp;<span ng-hide="predicate != 'duplicateCount'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'environment'; reverse=!reverse">Environment&nbsp;<span ng-hide="predicate != 'environment'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'service'; reverse=!reverse">Service&nbsp;<span ng-hide="predicate != 'service'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th><a href="" ng-click="predicate = 'resource'; reverse=!reverse">Resource&nbsp;<span ng-hide="predicate != 'resource'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th><a href="" ng-click="predicate = 'event'; reverse=!reverse">Event&nbsp;<span ng-hide="predicate != 'event'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'value'; reverse=!reverse">Value&nbsp;<span ng-hide="predicate != 'value'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                    <th class="hidden-xs"><a href="" ng-click="predicate = 'text'; reverse=!reverse">Text&nbsp;<span ng-hide="predicate != 'text'"><span ng-show="!reverse">^</span><span ng-show="reverse">v</span></span></a></th>
                </tr>

                <tr ng-repeat="alert in alerts | filter:nav.search | orderBy:predicate:reverse | limitTo:alertLimit"
                    ng-style="{ 'color':  colors.severity[alert.severity] == 'black' ? 'white' : colors.text, 'background-color': (bulkAlerts.indexOf(alert.id) > -1) ? colors.highlight : colors.severity[alert.severity] }"
                    ng-click="getDetails(alert, $event);">
                    <td class="hidden-xs no-wrap"><i class="glyphicon glyphicon-{{ alert.trendIndication | arrow }}"></i>&nbsp;<span class="label label-{{ alert.severity }}">{{ alert.severity | capitalize }}</span></td>
                    <td class="hidden-xs"><span class="label label-{{ alert.status }}">{{ alert.status | capitalize }}</span></td>
                    <td class="hidden-lg">{{ alert.lastReceiveTime | date:'HH:mm' }}</td>
                    <td class="visible-lg">{{ alert.lastReceiveTime | date:'EEE&nbsp;d&nbsp;MMM&nbsp;HH:mm' }}</td>
                    <td class="visible-lg">{{ alert.duplicateCount }}</td>
                    <td class="hidden-xs">{{ alert.environment }}</td>
                    <td class="hidden-xs">{{ alert.service.join(', ') }}</td>
                    <td>{{ alert.resource }}</td>
                    <td>{{ alert.event }}</td>
                    <td class="hidden-xs">{{ alert.value }}</td>
                    <td class="hidden-xs"><span ng-bind-html="alert.text"></span></td>
                </tr>
            </table>

        <div layout="row" layout-sm="column" layout-align="space-around" layout-margin style="padding:25px;" ng-hide="alerts.length > 0">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-show="alerts.length == 0">
            <center>{{ message }}</center>
        </div>
    </md-tab>
</md-tabs>

<section layout="row" layout-sm="column" layout-align="center center">
    <md-button type="button" class="btn btn-default full-width" ng-click="alertLimit = alertLimit + 20">{{(alerts|filter:search).length | showing:alertLimit }}</md-button>
</section>

<md-button class="md-fab md-fab-bottom-right" ng-click="add($event)">
    <md-icon md-svg-icon="cloud_upload" aria-label="Upload"></md-icon>
</md-button>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{ selected.id }}</h1>
    </md-toolbar>

    <md-content flex id="content">
        <img ng-src="{{ selected.data.rawUrl }}" err-src="img/icons/ic_photo_camera_24px.svg" class="original-image">

        <md-button class="md-fab">
            <md-icon md-svg-icon="thumb_up" ng-click="approve(selected.data.id)" aria-label="Thumbs Up"></md-icon>
        </md-button>
        <md-button class="md-fab">
            <md-icon md-svg-icon="thumb_down" ng-click="reject(selected.data.id)" aria-label="Thumbs Down"></md-icon>
        </md-button>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Info</md-subheader>
        <md-list>
            <md-list-item><p><b>Alert ID</b></p><p>{{ selected.id }}</p></md-list-item>
            <md-list-item><p><b>Last Receive Alert ID</b></p><p>{{ selected.lastReceiveId }}</p></md-list-item>
            <md-list-item><p><b>Create Time</b></p><p>{{ selected.createTime | date:'d/M/yyyy h:mm:ss.sss a' }}</p></md-list-item>
            <md-list-item><p><b>Receive Time</b></p><p>{{ selected.receiveTime | date:'d/M/yyyy h:mm:ss.sss a' }}</p></md-list-item>
            <md-list-item><p><b>Last Receive Time</b></p><p>{{ selected.lastReceiveTime | date:'d/M/yyyy h:mm:ss.sss a' }}</p></md-list-item>
            <md-list-item><p><b>Service</b></p><p>{{ selected.service.join(', ') }}</p></md-list-item>
            <md-list-item><p><b>Environment</b></p><p>{{ selected.environment }}</p></md-list-item>
            <md-list-item><p><b>Resource</b></p><p>{{ selected.resource }}</p></md-list-item>
            <md-list-item><p><b>Event</b></p><p>{{ selected.event }}</p></md-list-item>
            <md-list-item><p><b>Correlate</b></p><p>{{ selected.correlate.join(', ') }}</p></md-list-item>
            <md-list-item><p><b>Group</b></p><p>{{ selected.group }}</p></md-list-item>
            <md-list-item><p><b>Severity</b></p><p>{{ selected.severity }}</p></md-list-item>
            <md-list-item><p><b>Status</b></p><p>{{ selected.status }}</p></md-list-item>
            <md-list-item><p><b>Value</b></p><p>{{ selected.value }}</p></md-list-item>
            <md-list-item><p><b>Text</b></p><p>{{ selected.text | linky:'_blank' }}</p></md-list-item>
            <md-list-item><p><b>Trend Indication</b></p><p>{{ selected.trendIndication }}</p></md-list-item>
            <md-list-item><p><b>Timeout</b></p><p>{{ selected.timeout }}</p></md-list-item>
            <md-list-item><p><b>Type</b></p><p>{{ selected.type }}</p></md-list-item>
            <md-list-item><p><b>Duplicate Count</b></p><p>{{ selected.duplicateCount }}</p></md-list-item>
            <md-list-item><p><b>Repeat</b></p><p>{{ selected.repeat }}</p></md-list-item>
            <md-list-item><p><b>Origin</b></p><p>{{ selected.origin }}</p></md-list-item>
            <md-list-item><p><b>Tags</b></p><p ng-repeat="tag in selected.tags">{{ tag }}</p></md-list-item>
            <md-list-item ng-repeat="(key, value) in selected.attributes"><p><b>{{ key | capitalize }}</b></p><p>{{ value }}</p></md-list-item>
        </md-list>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Who can access</md-subheader>
        <div ng-show="selected.data.isActive">
            <md-icon md-svg-icon="lock_open"></md-icon> Publicly accessible
        </div>
        <div ng-hide="selected.data.isActive">
            <md-icon md-svg-icon="lock"></md-icon> Private access only
        </div>

        <p>

    </md-content>
</md-sidenav>
