
<div>
  <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-success"
          ng-click="unackAlert(alert.id)"
          ng-disabled="alert.status == 'open'"><i class="glyphicon glyphicon-arrow-up"></i> Open</button>
  <!-- button ng-disabled"!hasPermission('write:alerts')" type="button" class="btn btn-default"
          ng-click="tagAlert(alert.id, ['foo'])">Tag</button -->
  <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-default"
          ng-click="watchAlert(alert.id, user)"
          ng-show="alert.tags.indexOf('watch:'+user) == -1"
          ng-disabled="!isAuthenticated();"><i class="glyphicon glyphicon-eye-open"></i> Watch</button>
  <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-default"
          ng-click="unwatchAlert(alert.id, user)"
          ng-show="alert.tags.indexOf('watch:'+user) > -1"
          ng-disabled="!isAuthenticated();"><i class="glyphicon glyphicon-eye-close"></i> Unwatch</button>
  <div class="btn-group" ng-show="alert.status != 'shelved'">
    <button type="button" class="btn btn-info" ng-class="{disabled: !hasPermission('write:alerts')}"><i class="glyphicon glyphicon-time"></i> Shelve</button>
    <button type="button" class="btn btn-info dropdown-toggle" ng-class="{disabled: !hasPermission('write:alerts')}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a ng-click="shelveAlert(alert.id, user, 3600)" href="#">1 hour</a></li>
      <li><a ng-click="shelveAlert(alert.id, user, 7200)" href="#">2 hours</a></li>
      <li><a ng-click="shelveAlert(alert.id, user, 14400)" href="#">4 hours</a></li>
      <li><a ng-click="shelveAlert(alert.id, user, 28800)" href="#">8 hours</a></li>
    </ul>
  </div>
  <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-info"
          ng-click="unshelveAlert(alert.id, user)"
          ng-show="alert.status == 'shelved'"><i class="glyphicon glyphicon-time"></i> Unshelve</button>
  <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-primary"
          ng-click="ackAlert(alert.id)"
          ng-disabled="alert.status == 'ack'"><i class="glyphicon glyphicon-ok-circle"></i> Ack</button>

  <span ng-repeat="action in actions">
    <button ng-click="actionAlert(alert.id, action)" type="button" class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i> {{ action | splitcaps }}</button>
  </span>

  <button ng-disabled="!hasPermission('write:alerts')" type="button" class="btn btn-warning"
          ng-click="closeAlert(alert.id)"
          ng-disabled="alert.status == 'closed'"><i class="glyphicon glyphicon-remove-circle"></i> Close</button>
  <button ng-disabled="!hasPermission('admin:alerts')" type="button" class="btn btn-danger"
          ng-click="deleteAlert(alert.id)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
</div>

<hr>

<table class="table table-condensed table-striped">
  <tr class="visible-xs"><td><b>Alert ID</b></td><td>{{ alert.id | shortid }}</td></tr>
  <tr class="visible-xs"><td><b>Last Receive Alert ID</b></td><td>{{ alert.lastReceiveId | shortid }}</td></tr>
  <tr class="hidden-xs"><td><b>Alert ID</b></td><td>{{ alert.id }}</td></tr>
  <tr class="hidden-xs"><td><b>Last Receive Alert ID</b></td><td>{{ alert.lastReceiveId }}</td></tr>
  <tr><td><b>Create Time</b></td><td>{{ alert.createTime | date:longDate }} ({{ alert.createTime | relativeDate }})</td></tr>
  <tr><td><b>Receive Time</b></td><td>{{ alert.receiveTime | date:longDate }} ({{ alert.receiveTime | relativeDate }})</td></tr>
  <tr><td><b>Last Receive Time</b></td><td>{{ alert.lastReceiveTime | date:longDate }} ({{ alert.lastReceiveTime | relativeDate }})</td></tr>
  <tr ng-show="isCustomerViews();"><td><b>Customer</b></td><td>{{ alert.customer }}</td></tr>
  <tr><td><b>Service</b></td><td>{{ alert.service.join(', ') }}</td></tr>
  <tr><td><b>Environment</b></td><td>{{ alert.environment }}</td></tr>
  <tr><td><b>Resource</b></td><td>{{ alert.resource }}</td></tr>
  <tr><td><b>Event</b></td><td>{{ alert.event }}</td></tr>
  <tr><td><b>Correlate</b></td><td>{{ alert.correlate.join(', ') }}</td></tr>
  <tr><td><b>Group</b></td><td>{{ alert.group }}</td></tr>
  <tr><td><b>Severity</b></td>
    <td>
      <span class="label label-{{ alert.previousSeverity }}">{{ alert.previousSeverity | capitalize }}</span>&nbsp;&rarr;&nbsp;
      <span class="label label-{{ alert.severity }}">{{ alert.severity | capitalize }}</span>
    </td>
  </tr>
  <tr><td><b>Status</b></td><td><span class="label label-{{ alert.status }}">{{ alert.status | capitalize }}</span></td></tr>
  <tr><td><b>Value</b></td><td>{{ alert.value }}</td></tr>
  <tr><td><b>Text</b></td><td><span ng-bind-html="alert.text | linky:'_blank'"></span></td></tr>
  <tr><td><b>Trend Indication</b></td><td><span class="label">{{ alert.trendIndication | splitcaps }}</span></td></tr>
  <tr><td><b>Timeout</b></td><td>{{ alert.timeout }}</td></tr>
  <tr><td><b>Type</b></td><td><span class="label">{{ alert.type | splitcaps }}</span></td></tr>
  <tr><td><b>Duplicate Count</b></td><td>{{ alert.duplicateCount }}</td></tr>
  <tr><td><b>Repeat</b></td><td><span class="label">{{ alert.repeat | capitalize }}</span></td></tr>
  <tr><td><b>Origin</b></td><td>{{ alert.origin }}</td></tr>
  <tr><td><b>Tags</b></td>
    <td><span ng-repeat="tag in alert.tags"><span class="label label-primary">{{ tag }}</span> </span></td>
  </tr>
  <tr ng-repeat="(key, value) in alert.attributes"><td><b>{{ key | splitcaps }}</b></td><td><span ng-bind-html="value"></span></td></tr>
</table>

<label><input type="checkbox" ng-model="raw"> Raw Data</label>
<div class="animate-show" ng-show="raw">
  <pre>{{ alert.rawData }}</pre>
</div>

<label><input type="checkbox" ng-model="json"> JSON-format</label>
<div class="animate-show" ng-show="json">
  <pre>{{ alert | json }}</pre>
</div>

<table class="table table-condensed table-striped">
  <tr>
    <th class="hidden-lg"><b>Alert ID</b></th>
    <th class="visible-lg"><b>Alert ID</b></th>
    <th class="visible-xs"><b>Time</b></th>
    <th class="hidden-xs"><b>Update Time</b></th>
    <th><b>Change</b></th>
    <th class="hidden-xs"><b>Type</b></th>
    <th><b>Event</b></th>
    <th class="hidden-xs"><b>Value</b></th>
    <th class="hidden-xs"><b>Text</b></th>
  </tr>
  <tr ng-repeat="history in alert.history | orderBy:'updateTime':true">
    <td class="hidden-lg">{{ history.id | shortid }}</td>
    <td class="visible-lg">{{ history.id }}</td>
    <td class="visible-xs">{{ history.updateTime | date:shortTime }}</td>
    <td class="hidden-xs">{{ history.updateTime | date:longDate }}</td>
    <td><span class="label label-{{ history.status || history.severity }}">{{ history.status || history.severity || 'N/A' | capitalize }}</span></td>
    <td class="hidden-xs"><span class="label label-default">{{ history.type || 'unknown' | capitalize }}</span></td>
    <td>{{ history.event }}</td>
    <td class="hidden-xs">{{ history.value }}</td>
    <td class="hidden-xs"><span ng-bind-html="history.text"></span></td>
  </tr>
</table>
