
<div class="container">

  <div class="row-fluid">
    <div class="span12">

      <table class="table">
        <tr>
          <th ng-show="isCustomerViews();">Customer</th>
          <th>Environment</th>
          <th>Service</th>
          <th>Resource</th>
          <th>Event</th>
          <th>Group</th>
          <th>Tags</th>
          <th></th>
          <th>Start</th>
          <th>End</th>
          <th>Remaining</th>
          <th class="hidden-xs">User</th>
          <th class="hidden-xs">Create Time</th>
          <th class="hidden-xs">Reason</th>
          <th></th>
        </tr>
        <tr ng-repeat="blackout in blackouts | orderBy:'startTime'">
          <td ng-show="isCustomerViews();">{{ blackout.customer }}</td>
          <td>{{ blackout.environment }}</td>
          <td>{{ blackout.service.join(', ') }}</td>
          <td>{{ blackout.resource }}</td>
          <td>{{ blackout.event }}</td>
          <td>{{ blackout.group }}</td>
          <td><span ng-repeat="tag in blackout.tags"><span class="label label-primary">{{ tag }}</span> </span></td>
          <td><i class="glyphicon glyphicon-time" ng-show="blackout.status == 'pending'" title="Pending"></i><i class="glyphicon glyphicon-exclamation-sign" ng-show="blackout.status == 'active'" title="Active"></i><i class="glyphicon glyphicon-ban-circle" ng-show="blackout.status == 'expired'" title="Expired"></i></td>
          <td class="hidden-xs">{{ blackout.startTime | date:mediumDate }}</td>
          <td class="hidden-xs">{{ blackout.endTime | date:mediumDate }}</td>
          <td>{{ blackout.remaining | hms }}</td>
          <td class="hidden-xs">{{ blackout.user }}</td>
          <td class="hidden-xs">{{ blackout.createTime | date:mediumDate }}</td>
          <td class="hidden-xs">{{ blackout.text }}</td>
          <td><button ng-disabled="!hasPermission('write:blackouts')" type="button" class="btn btn-default btn-sm" ng-click="deleteBlackout(blackout.id);"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
        </tr>
      </table>

    </div>
  </div>

  <div>
    <form name="form" class="form-inline css-form validate" >
      <div class="form-group">
        <input type="datetime-local" class="form-control" id="input-start" ng-model="start" name="start" ng-max="end" required/>
      </div>
      to
      <div class="form-group">
        <input type="datetime-local" class="form-control" id="input-end" ng-model="end" name="end" ng-min="start"/>
      </div>
      <div class="form-group" ng-show="isCustomerViews();">
        <select class="form-control" ng-model="customer" ng-options="c.customer as c.customer for c in customers">
          <option value disabled selected>Customer</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="environment" required>
          <option value disabled selected>Environment</option>
          <option ng-repeat="e in environments" value="{{e.environment}}">{{e.environment}}</option>
          <option value="other">--other--</option>
        </select>
      </div>
      <div class="form-group" ng-show="environment == 'other'">
        <input type="text" class="form-control" id="input-environment" placeholder="Environment" ng-model="env" name="env"/>
      </div>
      <div class="form-group">
        <select class="form-control" name="option" ng-model="option">
          <option value selected>--choose--</option>
          <option value="resource">Resource</option>
          <option value="service">Service</option>
          <option value="event">Event</option>
          <option value="group">Group</option>
          <option value="resource-event">Res-Event</option>
          <option value="tags">Tags</option>
        </select>
      </div>
      <div class="form-group" ng-show="option == 'resource'">
        <input class="form-control" id="input-resource" placeholder="Resource" ng-model="resource" name="resource"/>
      </div>
      <div class="form-group" ng-show="option == 'service'">
        <select class="form-control" ng-model="service" ng-options="s.service as s.service group by s.environment for s in services | orderBy:['environment','service']">
        <!-- option value="" ng-model="service">Service</option -->
        </select>
      </div>
      <div class="form-group" ng-show="option == 'event'">
        <input class="form-control" id="input-event" placeholder="Event" ng-model="event" name="event"/>
      </div>
      <div class="form-group" ng-show="option == 'group'">
        <input type="text" class="form-control" id="input-group" placeholder="Group" ng-model="group" name="group"/>
      </div>
      <div class="form-group" ng-show="option == 'resource-event'">
        <input class="form-control" id="input-resource" placeholder="Resource" ng-model="resource" name="resource"/>
      </div>
      <div class="form-group" ng-show="option == 'resource-event'">
        <input class="form-control" id="input-event" placeholder="Event" ng-model="event" name="event"/>
      </div>
      <div class="form-group" ng-show="option == 'tags'">
        <input class="form-control" id="input-tags" placeholder="Tags (comma-separated)" ng-model="tags" name="tags"/>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" id="text" placeholder="Reason" ng-model="text" name="text" required />
      </div>
      <button ng-disabled="!hasPermission('write:blackouts') && authRequired" type="button" class="btn btn-primary" ng-click="createBlackout(env || environment,service,resource,event,group,tags,customer,start,end,text)">Blackout</button>
        </div>
    </form>
  </div>

</div>
