<div class="container">

  <div class="container">
    <div class="row">
      <p ng-show="email_verified" class="text-center login-title">{{ email }} is now verified. Thanks!</p>
      <p ng-hide="email_verified" class="text-center login-title">Whoops! Something went wrong. The email confirmation link is not valid.</p>
    </div>
  </div>

  <p></p>
  <div class="container" ng-show="message">
    <div class="alert alert-danger text-center" role="alert" ng-show="error">
      <strong>{{ error }}</strong> {{ message }}
    </div>
    <div class="alert alert-success text-center" role="alert" ng-hide="error">
      <strong>Thanks!</strong> {{ message }}
    </div>
  </div>

</div>
