
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->

      <table class="table">
        <tr>
          <th>API Key</th>
          <th ng-show="hasPermission('admin:keys')">User</th>
          <th class="hidden-xs">Description</th>
          <th class="hidden-xs" ng-show="isCustomerViews();">Customer</th>
          <th class="hidden-xs">Scope</th>
          <th class="hidden-xs">Expires</th>
          <th>Valid</th>
          <th class="hidden-xs">Last Used</th>
          <th class="hidden-xs">Times Used</th>
          <th>Access</th>
        </tr>
        <tr ng-repeat="key in keys">
          <td><tt>{{ key.key }}</tt></td>
          <td ng-show="hasPermission('admin:keys')">{{ key.user }}</td>
          <td class="hidden-xs">{{ key.text }}</td>
          <td class="hidden-xs" ng-show="isCustomerViews();">{{ key.customer }}</td>
          <td><span ng-repeat="scope in key.scopes"><span class="label label-primary">{{ scope }}</span> </span></td>
          <td class="hidden-xs">{{ key.expireTime | date:longDate }}</td>
          <td><i class="glyphicon glyphicon-warning-sign" ng-show="key.expireTime | isExpired" title="Expired"></i><i class="glyphicon glyphicon-ok" ng-hide="key.expireTime | isExpired" title="Active"></i></td>
          <td class="hidden-xs">{{ key.lastUsedTime | date:longDate }}</td>
          <td class="hidden-xs">{{ key.count }}</td>
          <td><button ng-disabled="!hasPermission('admin:keys')" type="button" class="btn btn-default btn-sm" ng-click="deleteKey(key.key);"><i class="glyphicon glyphicon-trash"></i> Revoke</button></td>
        </tr>
      </table>

      <div>
        <div class="form-group row">
        <div class="col-xs-2">
              <input type="text" class="form-control" id="text" placeholder="Application" ng-model="text" name="text" required />
        </div>
        <div class="col-xs-4">
          <input class="form-control" id="input-scopes" placeholder="Scopes eg. admin write read:alerts admin:keys" ng-model="scope" name="scope" required />
        </div>
        <div class="col-xs-2">
              <input type="text" class="form-control" id="customer" placeholder="Customer (optional)" ng-model="customer" name="customer" />
        </div>
        <button ng-disabled="!hasPermission('write:keys')" type="button" class="btn btn-primary" ng-click="createKey(scope, customer, text)">Create new API Key</button>
        </div>
      </div>

    </div>
  </div>

</div>
