
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->

      <div>
        <button type="button" class="btn btn-primary"
                ng-click="createKey('prompt for key description')"><i class="glyphicon glyphicon-plus"></i> New API Key</button>
      </div>

      <table class="table">
        <tr>
          <th>API Key</th>
          <th>Description</th>
          <th>Expires</th>
          <th>Last Used</th>
          <th>Times Used</th>
          <th></th>
        </tr>
        <tr ng-repeat="key in keys">
          <td><tt>{{ key.key }}</tt></td>
          <td>{{ key.text}}</td>
          <td class="hidden-xs">{{ key.expireTime | date:'EEE&nbsp;d&nbsp;MMM&nbsp;HH:mm:ss' }}</td>
          <td class="hidden-xs">{{ key.lastUsedTime | date:'EEE&nbsp;d&nbsp;MMM&nbsp;HH:mm:ss' }}</td>
          <td class="hidden-xs">{{ key.count }}</td>
          <td ng-click="deleteKey(key.key);"><i class="glyphicon glyphicon-trash"></td>
        </tr>
      </table>

    </div>
  </div>

</div>
