<div class="container">

  <div class="container">
    <div class="row">
      <p class="text-center login-title">Please login to continue.</h1>
    </div>
  </div>

  <div class="container" ng-show="provider == 'basic'">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input type="email" class="form-control" id="input-email" ng-model="email" placeholder="Email" required autofocus>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="input-password" ng-model="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block" ng-click="login(email, password)">Sign in</button>
      </form>
      <span ng-show="signup_enabled"><a href="#/signup" class="text-center new-account">Create an account </a></span>
      <span class="pull-right"><a href="#/forgot" class="text-center new-account">Forgot password? </a></span>
    </div>
  </div>

  <p></p>
  <div class="container" ng-show="message">
    <div class="alert alert-danger text-center" role="alert" ng-show="error">
      <strong>{{ error }}</strong> {{ message }}
    </div>
    <div class="alert alert-success text-center" role="alert" ng-hide="error">
      <strong>Enjoy!</strong> {{ message }}
    </div>
  </div>

</div>
