<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

status = {{ status }}

      <table class="table">
        <tr>
          <th>Last Updated</th>
          <th>Severity</th>
          <th>Status</th>
          <th>Service</th>
          <th>Environment</th>
          <th>Resource</th>
          <th>Event</th>
          <th>Text</th>
        </tr>
        <tr ng-repeat="alert in alerts | filter:query | orderBy:orderProp"
            class="severity severity-{{ alert.severity}}"
            ng-controller="AlertLinkController" ng-click="getDetails(alert);">
          <td>{{ alert.lastReceiveTime | date:'mediumTime' }}</td>
          <td>{{ alert.severity | uppercase }}</td>
          <td>{{ alert.status }}</td>
          <td>{{ alert.service }}</td>
          <td>{{ alert.environment }}</td>
          <td>{{ alert.resource }}</td>
          <td>{{ alert.event }}</td>
          <td>{{ alert.text }}</td>
        </tr>
      </table>

    </div>
  </div>
</div>
