

<table class="table table-condensed table-striped">
  <tr class="odd"><td><b>Alert ID</b></td><td>{{ alert.id }}</td></tr>
  <tr class="even"><td><b>Last Receive ID</b></td><td>{{ alert.lastReceiveId }}</td></tr>
  <tr class="odd"><td><b>Create Time</b></td><td>{{ alert.createTime }}</td></tr>
  <tr class="even"><td><b>Receive Time</b></td><td>{{ alert.receiveTime }}</td></tr>
  <tr class="odd"><td><b>Last Receive Time</b></td><td>{{ alert.lastReceiveTime }}</td></tr>
  <tr class="even"><td><b>Service</b></td><td>{{ alert.service.join(', ') }}</td></tr>
  <tr class="odd"><td><b>Environment</b></td><td>{{ alert.environment }}</td></tr>
  <tr class="even"><td><b>Resource</b></td><td>{{ alert.resource }}</td></tr>
  <tr class="odd"><td><b>Event</b></td><td>{{ alert.event }}</td></tr>
  <tr class="even"><td><b>Group</b></td><td>{{ alert.group }}</td></tr>
  <tr class="odd"><td><b>Severity</b></td><td>{{ alert.severity }}</td></tr>
  <tr class="even"><td><b>Value</b></td><td>{{ alert.value }}</td></tr>
  <tr class="odd"><td><b>Text</b></td><td>{{ alert.text }}</td></tr>
  <tr class="even"><td><b>Trend Indication</b></td><td>{{ alert.trendIndication }}</td></tr>
  <tr class="odd"><td><b>Timeout</b></td><td>{{ alert.timeout }}</td></tr>
  <tr class="even"><td><b>Type</b></td><td>{{ alert.type }}</td></tr>
  <tr class="odd"><td><b>Repeat</b></td><td>{{ alert.repeat }}</td></tr>
  <tr class="even"><td><b>Origin</b></td><td>{{ alert.origin }}</td></tr>
  <tr class="odd"><td><b>Tags</b></td>
    <td><span ng-repeat="tag in alert.tags"><span class="label label-primary">{{ tag }}</span> </span></td>
  </tr>
  <tr class="even"><td><b>Attributes</b></td><td>{{ alert.attributes }}</td></tr>
</table>

