
<div class="container-fluid">

  <div class="row">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <input class="form-control input" ng-model="filter" size="8" placeholder="Find a role...">
    </div>
  </div> <!-- row -->

  <div class="row-fluid">
    <div class="span12">

      <table class="table">
        <tr>
          <th>Role</th>
          <th>Scopes</th>
          <th></th>
        </tr>
        <tr ng-repeat="perm in perms | filter:filter">
          <td><tt>{{ perm.match }}</tt></td>
          <td><span ng-repeat="scope in perm.scopes"><span class="label label-primary">{{ scope }}</span> </span></td>
          <td><button ng-disabled="!hasPermission('admin:perms')" type="button" class="btn btn-default btn-sm" ng-click="deletePerm(perm.id);"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
        </tr>
      </table>

      <div class="form-group row">
        <div class="col-xs-2">
          <input type="text" class="form-control" id="input-lookup" placeholder="Role" ng-model="match" name="match" required />
        </div>
        <div class="col-xs-4">
          <input class="form-control" id="input-scopes" placeholder="Scopes eg. read write admin:alerts admin:keys" ng-model="scope" name="scope" required />
        </div>
        <button ng-disabled="!hasPermission('admin:perms')" type="submit" class="btn btn-primary" ng-click="createPerm(scope, match)">Create permission</button>
      </div>

      <div ng-show="message">
        <center><div class="alert alert-danger" role="alert">{{ status }}! {{ message }}</div></center>
      </div>

    </div>
  </div>

</div>
