
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">

      <table class="table">
        <tr>
          <th>Look Up</th>
          <th>Scopes</th>
          <th></th>
        </tr>
        <tr ng-repeat="perm in perms">
          <td><tt>{{ perm.match }}</tt></td>
          <td><span ng-repeat="scope in perm.scopes"><span class="label label-primary">{{ scope }}</span> </span></td>
          <td><button has-permission="admin:perms" type="button" class="btn btn-default btn-sm" ng-click="deletePerm(perm.id);"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
        </tr>
      </table>

      <div class="form-group row">
        <div class="col-xs-2">
          <input type="text" class="form-control" id="input-lookup" placeholder="Lookup" ng-model="match" name="match" required />
        </div>
        <div class="col-xs-4">
          <input class="form-control" id="input-scopes" placeholder="Scopes eg. read write admin:alerts admin:keys" ng-model="scope" name="scope" required />
        </div>
        <button has-permission="admin:perms" type="submit" class="btn btn-primary" ng-click="createPerm(scope, match)">Create permission</button>
      </div>

      <div ng-show="message">
        <center><div class="alert alert-danger" role="alert">{{ status }}! {{ message }}</div></center>
      </div>

    </div>
  </div>

</div>
