
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">

    <table class="table table-condensed table-striped">
      <tr><td><b>User ID</b></td><td>{{ user_id }}</td></tr>
      <tr><td><b>Name</b></td><td>{{ name }}</td></tr>
      <tr><td><b>Login</b></td><td>{{ login }}</td></tr>
      <tr><td><b>Provider</b></td><td>{{ provider }}</td></tr>
      <tr ng-show="isCustomerViews();"><td><b>Customer</b></td><td>{{ customer }}</td></tr>
      <tr><td><b>Role</b></td><td><span class="label">{{ role }}</span></td></tr>
      <tr><td><b>JWT</b></td><td><pre>{{ payload | json }}</pre></td></tr>
    </table>

    </div>
  </div>

</div>