
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->

    <table class="table table-condensed table-striped">
      <tr><td><b>User ID</b></td><td>{{ user.id }}</td></tr>
      <tr><td><b>User name</b></td><td>{{ user.name }}</td></tr>
      <tr><td><b>E-mail</b></td><td>{{ user.email }}</td></tr>
      <tr><td><b>Provider</b></td><td>{{ user.provider }}</td></tr>
      <tr><td><b>JWT</b></td><td>{{ payload }}</td></tr>
    </table>

    </div>
  </div>

</div>