'use strict';

angular.module('config', [])
  .constant('config', {
    'endpoint'    : "http://"+window.location.hostname+":8080",
    'provider'    : "basic", // google, github, gitlab, saml2 or basic
    'client_id'   : "INSERT-CLIENT-ID-HERE",
    'github_url'  : null,  // for github enterprise provider only
    'gitlab_url'  : "https://gitlab.com",  // for gitlab provider only

    'colors'      : {
      'severity': {
        'fatal'        : '#000000',  // black
        'critical'     : '#D8122A',
        'major'        : '#EA680F',
        'minor'        : '#FFBE1E',
        'warning'      : '#BA2222',
        'indeterminate': '#A6ACA8',
        'cleared'      : '#00AA5A',
        'normal'       : '#00AA5A',
        'ok'           : '#00AA5A',
        'informational': '#00A1BC',
        'debug'        : '#9D006D',
        'security'     : '#333333',
        'unknown'      : '#A6ACA8'
      },
      'text': 'white',
      'highlight': 'lightgray'
    },
    'severity'    : {
      'fatal': 0
    },
    'dates': {
      'shortTime' : 'shortTime',  // 1:39 PM
      'mediumDate': 'medium', // Apr 26, 2016 1:39:44 PM
      'longDate'  : 'EEEE, MMMM d, yyyy h:mm:ss.sss a (Z)'  // Tuesday, April 26, 2016 1:39:43.987 PM (+0100)
    },
    'audio'       : {
      'new'  : '/audio/Bike Horn.mp3'
    },
    'tracking_id': 'UA-NNNNNN-N',
    'refresh_interval': 30000 // Auto-refresh interval set to 30 seconds
  });
